.DS_Store
.env
.vscode/settings.json
.vscode/launch.json
*.swp
.*

*/__pycache__/
*.pyc
venv/

/backend/db/chroma_storage/

/frontend/web-dashboard/.next/
/frontend/web-dashboard/node_modules/
/frontend/web-dashboard/out/
/frontend/web-dashboard/npm-debug.log*

/frontend/core-flutter/.dart_tool/
/frontend/core-flutter/.packages
/frontend/core-flutter/build/
/frontend/core-flutter/ios/Flutter/Generated.xcconfig
/frontend/core-flutter/android/local.properties
/frontend/core-flutter/android/.gradle
/frontend/core-flutter/android/app/build
/frontend/core-flutter/android/key.properties

/frontend/apple-native/**/xcuserdata/
/frontend/apple-native/**/.build/
/frontend/apple-native/**/.swiftpm/
/frontend/apple-native/**/.xcodeproj/project.xcworkspace
/frontend/apple-native/**/.xcworkspace/
/frontend/apple-native/**/DerivedData/

build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdatad
*.xccheckout
*.moved-aside