fastapi
fastapi-cors
fastapi-users[sqlalchemy,oauth]
httpx-oauth
asyncpg
uvicorn
python-dotenv
aiofiles

# AI & LangChain
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
langchain_chroma
chromadb

# Utilities
pydantic
python-multipart
tiktoken

# Automated Testing
pytest
pytest-asyncio
httpx